<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vPegSolitaire 9x9</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <div id="mDiv1">
        <div class="stats-bar">
            <strong>{{ stageName }}</strong> | 
            Moves: {{ moveCount }} <span v-if="parValue > 0">/ Par: {{ parValue }}</span>
        </div>
        <div class="pack-btns">
            <button @click="loadStage(0, 0)">Tutorial</button>
            <button @click="loadStage(1, 0)">Lazlo's Leap</button>
            <button @click="loadStage(2, 0)">Full Pack</button>
        </div>
    </div>

    <div class="sidebar">
        <h3>Stage List</h3>
        <div v-for="(stage, idx) in stages3ar[currentPackIdx]" 
             :key="idx" 
             @click="loadStage(currentPackIdx, idx)"
             class="level-item">
            {{ idx + 1 }}. {{ stage[1] }}
        </div>
    </div>

    <canvas id="c"></canvas>
</div>

<script type="importmap">
  { "imports": { "three": "https://unpkg.com/three@0.160.0/build/three.module.js" } }
</script>
<script type="module" src="app.js"></script>
</body>
</html>
